{% extends "layout.html" %}

{% block title %}UWI Maps - Login{% endblock %}
{% block page %}UWI Maps{% endblock %}

{% set auth_page = true %}

{% block navbar %}
<nav class="navbar">
    <div class="logo-container">
        <img src="{{ url_for('static', filename='maps_logo.png') }}" alt="Logo" class="logo">
    </div>
</nav>
{% endblock %}

{% block content %}

  <div class="container" id="container">

    <!-- Sign In Form -->
    <div class="form-container sign-in-container">
      <form method="POST" action="/login">
        <h4 class="center">Login</h4>
        <input type="text" name="username" placeholder="Username" class="validate" required />
        <input type="password" name="password" placeholder="Password" class="validate" required />
        <button type="submit" class="blue text-white btn">Login</button>
        
      </form>
    </div>

    <!-- Optional: Overlay or background -->
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h5>Welcome to UWI Maps!</h5>
          <p>New here? Click below to create an account.</p>
          <a href="/signup"><button class="ghost">Sign Up</button></a>
        </div>
      </div>
    </div>

  </div>


{% endblock %}
