{% extends "layout.html" %}

{% block title %}UWI Maps{% endblock %}
{% block page %}UWI Maps{% endblock %}
{% block navbar %}
<nav class="purple">
  <div class="nav-wrapper">
      <a href="#!" class="brand-logo left">UWI Maps</a>
  </div>
</nav>
{% endblock %}


{% block content %}

<div class="content fill-space">
  <img class="grow-2 page-img" src="#INSERT BACKGROUND IMAGE HERE#">
  <div class="subcontent center-vertical">
    <h4 class="center">Sign Up</h4>

    <form id="signupForm" method="POST" action="/signup" style="padding:1em">
      <div class="row">
        <div class="input-field col s12">
          <input id="username" name="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
      </div>
  
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row justify-content">
        <div class="col s8 card-action left-align" style="margin-left:0;">
          <a href="/">&larr; Back to Login</a>
        </div>
        <div class="col s3 card-action right-align">
          <input type="submit" class="blue text-white btn" value="Sign up">
        </div>
      </div>
  
    </form>
  </div>
</div>
{% endblock %}