{% extends "layout.html" %}

{% block title %}UWI Maps - Sign Up{% endblock %}
{% block page %}UWI Maps{% endblock %}

{% set auth_page = true %}

{% block navbar %}
<nav class="navbar">
    <div class="logo-container">
        <img src="{{ url_for('static', filename='maps_logo.png') }}" alt="Logo" class="logo">
    </div>
</nav>
{% endblock %}


{% block content %}

<div class="auth-container right-panel-active" id="auth-container">

  <!-- Sign Up Form -->
  <div class="form-container sign-up-container">
    <form method="POST" action="/signup">
      <h4 class="center">Create Account</h4>
      <input type="text" name="username" placeholder="Username" class="validate" required />
      <input type="password" name="password" placeholder="Password" class="validate" required />
      <button type="submit" class="orange text-white btn">Sign Up</button>
    </form>
  </div>

  <!-- Overlay Content -->
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h5>Welcome Back!</h5>
        <p>Already have an account?</p>
        <a href="/"><button class="ghost">Sign In</button></a>
      </div>
    </div>
  </div>

</div>


{% endblock %}
